@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --primary-color: #1B1C1E;
  --footer-color: #283769;
}

.info__text, .title__footer, .title-article, .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__mission, .title__opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  font-size: 12px;
  color: var(--primary-color);
}

li {
  list-style-type: none;
}

.link-active {
  font-weight: bold;
  font-size: 18px;
}

.container {
  max-width: 1968px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 54px;
  font-weight: 500;
}

.header__p {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 38px;
}

.header__span {
  font-weight: bold;
  font-size: 36px;
  margin-right: 16px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header__ul {
  display: flex;
  align-items: center;
}

.nav__item {
  padding-bottom: 3px;
}

.nav__item:hover {
  border-bottom: 1px solid var(--footer-color);
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.mb {
  margin-bottom: 77px;
}

.white {
  color: #FFFFFF;
}

/*main*/
.title-article {
  height: 1090px;
  background: url("../../img/title.png") center no-repeat;
  background-size: 100% 100%;
}

.title__opacity {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(60px);
  max-width: 930px;
  padding: 40px 50px;
}

.title__text {
  font-size: 18px;
}

.title__h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.title__p:first-letter {
  text-transform: capitalize;
}

.title__mission {
  margin-top: 45px;
  margin-bottom: 45px;
  text-transform: uppercase;
  max-width: 700px;
  color: #FFFFFF;
  background-color: var(--footer-color);
  padding: 20px 50px;
}

.title__p-mission {
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  font-style: italic;
}

.title__h2-mission {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
}

/*title__footer*/
.title__footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: var(--footer-color);
}

.title__footer__text {
  max-width: 344px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 24px;
  color: #FFFFFF;
}

.title__footer__text:not(:last-child) {
  padding-right: 24px;
  border-right: 1px solid #FFFFFF;
}

.title__footer__span {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
}

.offer {
  margin-top: 136px;
  min-height: 1412px;
  background: url("../../img/Group.png") no-repeat center;
  display: flex;
}

.offer__container {
  max-width: 1515px;
  margin-left: 174px;
  color: var(--footer-color);
}

.offer__text-left {
  max-width: 680px;
  margin-top: 240px;
}

.offer__h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px;
}

.offer__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
}

.offer__p:last-child {
  margin-top: 43px;
}

.offer__text-right {
  max-width: 531px;
  margin-left: 860px;
  margin-top: 340px;
}

.offer_nav {
  margin-top: 95px;
}

.offer__link {
  list-style-type: disc;
  margin-top: 20px;
}

.offer__item {
  font-weight: 500;
  font-size: 18px;
}

.offer__button {
  cursor: pointer;
  margin-top: 54px;
  text-align: center;
  padding: 18px 100px 18px 60px;
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  /* Обнулить округлости */
  -moz-border-radius: 0;
  /* Обнулить округлости */
  -webkit-border-radius: 0;
  /* Обнулить округлости */
  background: var(--footer-color);
  border: none;
  position: relative;
}

.offer__button:after, .offer__button:before {
  left: 100%;
  top: 28%;
  border: solid transparent;
  content: " ";
  height: 24px;
  width: 0;
  position: absolute;
}

.offer__button:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: var(--footer-color);
  border-width: 16px;
  margin-top: -16px;
}

.offer__button:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: var(--footer-color);
  border-width: 14px;
  margin-top: -15px;
  left: 105%;
  height: 4px;
  top: 47%;
}

.offer__button:hover,
.offer__button:focus,
.offer__button:active,
.offer__button.active,
.open .dropdown-toggle.offer__button {
  color: #fff;
  outline: none;
  background: #2e6eae;
}

.offer__button:hover:after,
.offer__button:hover:before,
.offer__button:focus:after,
.offer__button:focus:before,
.offer__button:active:after,
.offer__button:active:before,
.offer__button.active:after,
.offer__button.active:before {
  border-left-color: #2e6eae;
}

.offer__button:active,
.offer__button.active,
.open .dropdown-toggle.offer__button {
  background: #265d94;
  color: #fff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.offer__button:active:after,
.offer__button:active:before,
.offer__button.active:after,
.offer__button.active:before,
.open .dropdown-toggle.offer__button:after {
  border-left-color: #265d94;
}

.info {
  margin-top: 136px;
}

.info__doc {
  height: 349px;
  background: url("../../img/doc.png") no-repeat center;
  background-size: cover;
}

.info__text {
  background: #D1EBFF;
}

.info__nav {
  margin-top: 27px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.info__item {
  position: relative;
  max-width: 400px;
}
.info__item:last-child p {
  font-weight: bold;
  font-size: 36px;
}
.info__item:not(:last-child) {
  margin-right: 50px;
}
.info__item:not(:last-child):after {
  position: absolute;
  content: url("../../img/Shape.svg");
  right: 0;
  top: 15px;
}
.info__item:nth-child(2):after {
  right: 40px;
}
.info__item:nth-child(3):after {
  right: -25px;
}
.info__item p {
  font-size: 24px;
  color: var(--footer-color);
}

.info__footer {
  display: flex;
  justify-content: center;
  background: var(--footer-color);
}

.info__menu {
  margin-bottom: 225px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.info__footer-nav {
  max-width: 350px;
}

.info__footer-nav:not(:last-child) {
  margin-right: 118px;
}

.info__footer-item {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.info__footer-link:not(:first-child) {
  margin-top: 30px;
}

/*# sourceMappingURL=activities.css.map */
