@import "../component/header";

.mb {
  margin-bottom: 77px;
}

.white {
  color: #FFFFFF;
}

/*main*/
.title-article {
  height: 1090px;
  background: url("../../img/title.png") center no-repeat;
  background-size: 100% 100%;
  @extend %flex-center;
}

.title__opacity {
  @extend %flex-center-column;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(60px);
  max-width: 930px;
  padding: 40px 50px;
}

.title__text {
  font-size: 18px;
}

.title__h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.title__p:first-letter {
  text-transform: capitalize;
}

.title__mission {
  margin-top: 45px;
  margin-bottom: 45px;
  @extend %flex-center-column;
  text-transform: uppercase;
  max-width: 700px;
  color: #FFFFFF;
  background-color: var(--footer-color);
  padding: 20px 50px;
}

.title__p-mission {
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  font-style: italic;
}

.title__h2-mission {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
}

/*title__footer*/
.title__footer {
  @extend %flex-center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: var(--footer-color);
}

.title__footer__text {
  max-width: 344px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 24px;
  color: #FFFFFF;
}

.title__footer__text:not(:last-child) {
  padding-right: 24px;
  border-right: 1px solid #FFFFFF;
}

.title__footer__span {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
}

//offer
.offer {
  margin-top: 136px;
  min-height: 1412px;
  background: url("../../img/Group.png") no-repeat center;
  display: flex;
}

.offer__container {
  max-width: 1515px;
  margin-left: 174px;
  color: var(--footer-color);
}

.offer__text-left {
  max-width: 680px;
  margin-top: 240px;
}

.offer__h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px;
}

.offer__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
}

.offer__p:last-child {
  margin-top: 43px;
}

.offer__text-right {
  max-width: 531px;
  margin-left: 860px;
  margin-top: 340px;
}

.offer_nav {
  margin-top: 95px;
}

.offer__link {
  list-style-type: disc;
  margin-top: 20px;
}

.offer__item {
  font-weight: 500;
  font-size: 18px;
}

@import "../component/buttonArrow";

//info
.info {
  margin-top: 136px;
}

.info__doc {
  height: 349px;
  background: url("../../img/doc.png") no-repeat center;
  background-size: cover;
}

.info__text {
  @extend %flex-center;
  background: #D1EBFF;
}

.info__nav {
  margin-top: 27px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.info__item {
  position: relative;
  max-width: 400px;

  &:last-child p {
    font-weight: bold;
    font-size: 36px;
  }

  &:not(:last-child) {
    margin-right: 50px;
  }

  &:not(:last-child):after {
    position: absolute;
    content: url("../../img/Shape.svg");
    right: 0;
    top: 15px;
  }

  &:nth-child(2):after {
    right: 40px;
  }

  &:nth-child(3):after {
    right: -25px;
  }

  p {
    font-size: 24px;
    color: var(--footer-color);
  }
}

.info__footer {
  display: flex;
  justify-content: center;
  background: var(--footer-color);
}

.info__menu {
  margin-bottom: 225px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.info__footer-nav {
  max-width: 350px;
}

.info__footer-nav:not(:last-child) {
  margin-right: 118px;
}

.info__footer-item {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.info__footer-link:not(:first-child) {
  margin-top: 30px;
}
