@import "../component/header";

/*title*/
.title-article {
  background: url("../../img/TitleBaner.png") center no-repeat;
  background-size: cover;
  @extend %flex-center;
}

.title__opacity {
  @extend %flex-center-column;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(60px);
  max-width: 930px;
  padding: 30px 50px 53px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.title__text {
  font-size: 12px;
  line-height: 22px;
}

.title__h2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.title__p:first-letter {
  text-transform: capitalize;
}

.title__mission {
  margin-top: 16px;
  margin-bottom: 16px;
  @extend %flex-center-column;
  text-transform: uppercase;
  max-width: 592px;
  color: #FFFFFF;
  background-color: var(--footer-color);
  padding: 20px 50px;
}

.title__p-mission {
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  font-style: italic;
}

.title__h2-mission {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
}

/*title__footer*/
.about__footer {
  @extend %flex-center;
  padding-top: 30px;
  background-color: var(--footer-color);
}

.about__footer__text {
  max-width: 344px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 24px;
  color: #FFFFFF;
}

.about__footer__text:not(:last-child) {
  padding-right: 24px;
  border-right: 1px solid #FFFFFF;
}

.about__footer__span {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
}

@media screen and (max-height: 930px) {
  .about__footer {
    padding-top: 6px;
  }
  .title__p-mission {
    line-height: 28px;
  }
  .title__opacity {
    padding: 18px 50px 16px;
  }
}
