@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --primary-color: #1B1C1E;
  --footer-color: #283769;
  --font-size18: 0.70vw;
  --font-size12: 0.47vw;
  --font-size14: 0.55vw;
  --font-size36: 1.41vw;
  --font-size22: 0.86vw; }

.header__logo, .title-article, .title__footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.title__opacity, .title__mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--primary-color); }

a {
  text-decoration: none;
  color: var(--primary-color); }

li {
  list-style-type: none; }

.link-active {
  font-weight: bold;
  font-size: 18px; }

.container {
  max-width: 1968px;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 54px;
  font-weight: 500;
  box-shadow: 1px 7px 15px 0 rgba(50, 50, 50, 0.82); }

.header__p {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 38px; }

.header__span {
  font-weight: bold;
  font-size: 36px;
  margin-right: 16px; }

.header-right {
  display: flex;
  align-items: center; }

.header__ul {
  display: flex;
  align-items: center; }

.nav__item {
  padding-bottom: 3px;
  font-size: 12px; }

.nav__item:hover {
  border-bottom: 1px solid var(--footer-color); }

.nav__item:not(:last-child) {
  margin-right: 40px; }

/*title*/
.title-article {
  height: 1090px;
  background: url("../../img/title.png") center no-repeat; }

.title__opacity {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(60px);
  max-width: 930px;
  padding: 40px 50px; }

.title__text {
  font-size: 18px; }

.title__h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px; }

.title__p:first-letter {
  text-transform: capitalize; }

.title__mission {
  margin-top: 45px;
  margin-bottom: 45px;
  text-transform: uppercase;
  max-width: 700px;
  color: #FFFFFF;
  background-color: var(--footer-color);
  padding: 20px 50px; }

.title__p-mission {
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  font-style: italic; }

.title__h2-mission {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px; }

/*title__footer*/
.title__footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: var(--footer-color); }

.title__footer__text {
  max-width: 344px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 24px;
  color: #FFFFFF; }

.title__footer__text:not(:last-child) {
  padding-right: 24px;
  border-right: 1px solid #FFFFFF; }

.title__footer__span {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize; }

/*# sourceMappingURL=about.css.map */
