@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url(../component/buttonArrow.css);
:root {
  --primary-color: #1B1C1E;
  --footer-color: #283769;
  --font-size18: 0.70vw;
  --font-size12: 0.47vw;
  --font-size14: 0.55vw;
  --font-size36: 1.41vw;
  --font-size22: 0.86vw; }

.header__logo, .info__text {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--primary-color); }

a {
  text-decoration: none;
  color: var(--primary-color); }

li {
  list-style-type: none; }

.link-active {
  font-weight: bold;
  font-size: 18px; }

.container {
  max-width: 1968px;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.mb {
  margin-bottom: 17px; }

.white {
  color: #FFFFFF; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 54px;
  font-weight: 500;
  box-shadow: 1px 7px 15px 0 rgba(50, 50, 50, 0.82); }

.header__p {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 38px; }

.header__span {
  font-weight: bold;
  font-size: 36px;
  margin-right: 16px; }

.header-right {
  display: flex;
  align-items: center; }

.header__ul {
  display: flex;
  align-items: center; }

.nav__item {
  padding-bottom: 3px;
  font-size: 12px; }

.nav__item:hover {
  border-bottom: 1px solid var(--footer-color); }

.nav__item:not(:last-child) {
  margin-right: 40px; }

.offer {
  min-height: 1412px;
  background: url("../../img/Group.png") no-repeat center;
  display: flex;
  justify-content: center; }

.offer__container {
  margin-right: 230px;
  color: var(--footer-color); }

.offer__text-left {
  max-width: 680px;
  margin-top: 240px; }

.offer__h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px; }

.offer__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px; }

.offer__p:last-child {
  margin-top: 43px; }

.offer__text-right {
  max-width: 531px;
  margin-left: 860px;
  margin-top: 340px; }

.offer_nav {
  margin-top: 95px; }

.offer__link {
  list-style-type: disc;
  margin-top: 20px; }

.offer__item {
  font-weight: 500;
  font-size: 18px; }

.info {
  margin-top: 136px; }

.info__doc {
  height: 349px;
  background: url("../../img/doc.png") no-repeat center; }

.info__text {
  background: #D1EBFF; }

.info__nav {
  margin-top: 27px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  font-weight: bold; }

.info__item {
  position: relative;
  max-width: 400px; }
  .info__item:last-child p {
    font-weight: bold;
    font-size: 36px; }
  .info__item:not(:last-child) {
    margin-right: 50px; }
  .info__item:not(:last-child):after {
    position: absolute;
    content: url("../../img/Shape.svg");
    right: 0;
    top: 15px; }
  .info__item:nth-child(2):after {
    right: 40px; }
  .info__item:nth-child(3):after {
    right: -25px; }
  .info__item p {
    font-size: 24px;
    color: var(--footer-color); }

.info__footer {
  display: flex;
  justify-content: center;
  background: var(--footer-color); }

.info__menu {
  margin-bottom: 225px;
  margin-top: 50px;
  display: flex;
  justify-content: center; }

.info__footer-nav {
  max-width: 350px; }

.info__footer-nav:not(:last-child) {
  margin-right: 118px; }

.info__footer-item {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF; }

.info__footer-link:not(:first-child) {
  margin-top: 30px; }

/*# sourceMappingURL=activities.css.map */
